* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container{

  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  
}

#text{
  margin-left: 45px;
  margin-top: 70px;
}


#hero_img img {
  border: 20px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.07);
  opacity: 1.1;
}

#login_form {
  
  padding-left: 164px;
}

#login_form .hero-text {
  margin-top: 19px;
}

#login_form .hero-text p {
  
  font-size: 2.5rem;
  font-weight: 400;
} 

#login_form .btn {
  width: 138px;
  height: 45px;
  background-color: rgb(200, 36, 47);
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

#login_form #logo {
  margin-top: 40px;
}

#login_form #login_text {
  font: normal;
  font-family: "Roboto", sans-serif;
  margin-top: 31px;
}

form .fp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 429px;
}

form .fp button {
  margin-top: 25px;
  width: 45px;
  height: 24px;
}

form .fp a {
  color: rgba(173, 173, 173, 1);
  margin-top: 30px;
}

form .inp input {
  height: 49px;
  width: 95%;
  margin-top: 30px;
  border-radius: 4.5px;
}

@media only screen and (max-width: 575px) {
  #hero_img img {
    height: 90%;
    width: 90%;
    
  }
  #hero_img  {
    width: 100%;
    height: 100%;
    margin-left: 80px;
  }
  #login_form .hero-text p {
    font-size: 1.5rem;
  }
  form .inp input {
    width: 200px;
    }

  #login_form #login_text {
   white-space: nowrap;
  }
}
